
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 40vw;
  width: 40vw;
  background-color: cadetblue;
}
#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    margin: 0;
}
#board div:nth-child(1),
#board div:nth-child(2),
#board div:nth-child(4),
#board div:nth-child(5) {
border-right: 1px solid black;
border-bottom: 1px solid black;
}

#board div:nth-child(3),
#board div:nth-child(6) {      
border-bottom: 1px solid black;
}

#board div:nth-child(7),
#board div:nth-child(8) {
border-right: 1px solid black;
}